@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5; /* Standard Govt Grey */
}

/* The Official Tricolor Border */
.tricolor-border {
  border-top: 4px solid #FF9933; /* Saffron */
  border-bottom: 4px solid #138808; /* Green */
}

/* The Ashoka Chakra Blue */
.text-gov-blue {
  color: #000080;
}
.bg-gov-blue {
  background-color: #000080;
}